.parent_select_search_custom .select_search_custom .react-select__control{
    border: none;
    outline: none !important;
    box-shadow: none !important;
    margin-top: -5px
}
.parent_select_search_custom .select_search_custom{ 
    border-bottom: 1px solid rgba(192, 198, 206, 0.46);
}
.parent_select_search_custom > label{
    margin-top: -15px;
    margin-bottom: 0;
}
.parent_select_search_custom .react-select__placeholder,.parent_select_search_custom .react-select__single-value{
    font-weight: 600;
}
.parent_select_search_custom .react-select__value-container{
    padding: 0 !important;
}
.parent_select_search_custom .react-select__indicator-separator{
    display: none;
}
.parent_select_search_custom .react-select__indicator{
    padding: 5px !important;
}
.parent_select_search_custom .react-select__indicator svg{
    height: 18px;
    width: 18px;
}
.parent_select_search_custom{
    margin-bottom: 2rem;
}
.parent_select_search_custom .react-select__menu{
    z-index: 99
}