/**Added by L.Subashini*/
/* .product-title-sub {
    font-size: 1.5rem;
    font-weight: normal;
    color: #97a0af;
    margin-bottom: 0;
    word-break: break-word;
} */

.btn-outlined {
    padding: 0.20rem 1.2rem;
    border-radius: 2rem;
    border: 2px solid transparent;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 600;
}

.outline-success {
    border-color: rgba(47, 180, 125, 0.44);
    color: #2fb47d;
}

.outline-success .fas {
    color: #2fb47d;
}

.outline-success:hover {
    color: #2fb47d;
}
.outline-secondary {
    border-color: rgba(151, 160, 175, 0.33);
    color: #97a0af;
}

.outline-secondary:hover {
    color: #97a0af;
}

.outline-danger {
    border-color: rgba(228, 60, 60, 0.33);
    color:#df5151;
}
.outline-danger:hover {
    color:#df5151;
}

.InputGroupSplit{
    background: none;
    border: 0;
}
.ListCustomStyle{
    border-color: #eff1f4;
    padding: 1.25rem 2rem;
}
.ActionIconColor{
    border-color: #bbc2cb;
    color: #d1d5dd;
}
.no-border{
    border:0%!important
}
.left-card{
    left:83%!important
}
.custom-padding{
    padding: 0.85rem 1rem !important;
}
/**End*/
/**Added by Perumalraj on 04-08-2020*/
.outline-correction{
    border-color: rgba(6, 83, 248, 0.918);
    color: blue;
}
.outline-Final{
    border-color: green;
    color: green;
}

/*Added by Thanuja on 14-08-2020 for drag icon in test formula*/
.dragicon {
    color: #bbc2cb;
}

.dragicon:hover {
    color: #007bff;
}

/*Added by Thanuja on 02-09-2020 for filter with accordian open(-) close(+) symbol*/
.accordion-two .card-header.collapsed .card-title:after {
    content: "\f067";
}

.accordion-two .card-header .card-title:after {
    float: left;
    content: '\f068';
    font-family: 'Font Awesome 5 Free';
    color: #4e607c;
    margin-left: -10px;
    margin-right: 10px;
    font-size: 12px;
    margin-top: 4px;
}

.accordion-two>.card .card-header .card-title {
    font-size: 14px;
	text-transform:uppercase;
	margin-bottom: 0;
}

.accordion-two>.card .card-header.collapsed .card-title {
	font-weight:bold;
}

/* Added by Thanuja on 17-09-2020 to give background color for list master */
.list-bgcolor {
    background-color: #fcfdfd;
}


  /* .k-grid .k-grouping-row td div{
      display: none !important;
  } */
  .react-confirm-alert-overlay{
      z-index: 1100!important;;
  }
  .clock_marginstyle{
      margin-top: 0.4em;
  }
  /* Added by Subashini for Organisation screen */
  .mtop-5 {
    margin-top: 5rem;
}




